            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if page.url == '/home.html' %}
                            <li class="active nav-item">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                            <a href="index.html">Home</a>
                        </li>
                        {% if page.url == '/portfolio.html' %}
                            <li class="active nav-item">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                        <a href="portfolio.html">Portfolio</a>
                        </li>
                        {% if page.url == '/blog.html' %}
                            <li class="active nav-item">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                        <a href="blog.html">Blog</a>
                        </li>
                        {% if page.url == '/contact.html' %}
                            <li class="active nav-item">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}<a href="contact.html">Contact</a>
                        </li>
                        
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     